<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student List</title>
</head>
<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script>
	$(document).ready(function() {
		$.ajax({
			url : "/js",
		});
	});
</script>
<body>
	<h1>
		<p th:text="#{welcome.message}">Welcome Student !!! (STATIC)</p>
	</h1>

	<h1>
		<p th:text="#{welcome.message.parameterize(${username})}">¡Bienvenido a nuestra tienda de comestibles, John Apricot! (STATIC)</p>
	</h1>

	<h1>
		<p th:text="#{welcome.message.parameterize.2(${username},${lastname})}">¡Bienvenido a nuestra tienda de comestibles, John Apricot! (STATIC) - two param</p>
	</h1>

	<h1>
		<p th:text="#{${welcomeMsgKey}(${username})}">Welcome Student Come from variable !!! (STATIC)</p>
	</h1>

	<h1>
		#locale.country : <span th:text="${#locale.country}">US</span>.
	</h1>
	<h1>
		#locale.language : <span th:text="${#locale.language}">in</span>.
	</h1>

	<h1>
		param.param1 : <span th:text="${param.param1}">empty</span>
	</h1>

	<h1>
		param.foo : <span th:text="${param.foo}">empty</span>
	</h1>

	<h1>
		param.size : <span th:text="${param.size()}">empty</span>
	</h1>

	<h1>
		param.isEmpty : <span th:text="${param.isEmpty()}">empty</span>
	</h1>

	<h1>
		#ctx.request : <span th:text="${#request.getAttribute('nameReq')}">empty</span>
	</h1>

	<h1>
		#request.getContextPath : <span th:text="${#request.getContextPath()}">empty</span>
	</h1>

	<h1>
		#request.getServletPath : <span th:text="${#request.getServletPath()}">empty</span>
	</h1>

	<h1>
		#request.getPathInfo : <span th:text="${#request.getPathInfo()}">empty</span>
	</h1>

	<h1>
		#request.getQueryString : <span th:text="${#request.getQueryString()}">empty</span>
	</h1>

	<h1>
		#request.getRequestURI : <span th:text="${#request.getRequestURI()}">empty</span>
	</h1>

	<h1>
		#request.getRequestURL().toString() : <span th:text="${#request.getRequestURL().toString()}">empty</span>
	</h1>

	<h1>xpressions on selections (asterisk syntax)</h1>
	<div th:object="${task.student}">
		<p>id: <span th:text="${#object.id}">0</span>.</p>
		<p>name: <span th:text="${task.student.name}">empty</span>.</p>
		<p>gender: <span th:text="*{gender}">-1</span>.</p>
	</div>

	<h1>Student List</h1>
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{msg.id}" />
				<th th:text="#{msg.name}" />
				<th th:welcomeMsgKeytext="#{msg.gender}" />
				<th th:text="#{msg.percent}" />
				<th th:text="index" />
				<th th:text="count" />
				<th th:text="first" />
				<th th:text="last" />
			</tr>
		</thead>
		<tbody>
			<tr th:each="student, iStat : ${students}" th:style="${iStat.odd}? 'font-weight: bold;'" th:alt-title="${iStat.even}? 'even' : 'odd'">
				<td th:text="${student.id}" />
				<td th:text="${student.name}" />
				<td th:switch="${student.gender}"><span th:case="'M'"
					th:text="Male" /> <span th:case="'F'" th:text="Female" /></td>
				<td th:text="${#conversions.convert(student.percentage, 'Integer')}" />
				<td th:text="${iStat.index}" />
				<td th:text="${iStat.count}" />
				<td th:text="${iStat.first}" />
				<td th:text="${iStat.last}" />
			</tr>
		</tbody>
	</table>
	<div>
		<p>
			<a th:href="@{/}" th:text="#{msg.Home}" />
		</p>
	</div>

	<a href="details.html"
	   th:href="@{http://localhost:8080/gtvg/order/details(orderId=1)}">view</a>

	<!-- Will produce '/gtvg/order/details?orderId=3' (plus rewriting) -->
	<a href="details.html" th:href="@{/order/details(orderId=1)}">view</a>

	<!-- Will produce '/gtvg/order/3/details' (plus rewriting) -->
	<a href="details.html" th:href="@{/order/{orderId}/details(orderId=1)}">view</a>

	<a href="details.html" th:href="@{order/{orderId}/details(orderId=1)}">view</a>
	<a href="details.html" th:href="@{order/{orderId}(orderId=1)}">view</a>
	<a href="details.html" th:href="@{order/{orderId}/detail(orderId=1,orderId2=2)}">view</a>
	<a href="details.html" th:href="@{order/{orderId}/detail(pathVarOrderId=1,orderId=2)}">view</a>
	<a href="details.html" th:href="@{order/{pathVarOrderId}/detail(pathVarOrderId=1,orderId=2)}">view</a>
</body>
</html>


