<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fr_header.html :: common_header(~{::title},~{::link})">

    <title>Awesome - Main</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">

</head>
<body>
    <div th:insert="~{fragment/fr_footer.html :: copy}">&copy; 2011 The Static Templates</div>
    <div th:insert="~{footer.html::copy}">&copy; 2011 The Static Templates</div>

    <br>

    <h1>Equals</h1>
    <div th:insert="fragment/fr_footer.html :: (${username} == 'aji' ? copy1 : copy2)"></div>
    <div th:insert="~{fragment/fr_footer.html :: (${username} == 'aji' ? copy1 : copy2)}"></div>

    <br>
    <h1>Not Equals</h1>
    <div th:insert="fragment/fr_footer.html :: (${username} != 'aji' ? copy1 : copy2)"></div>

    <br>
    <h1>Using Selector</h1>
    <div th:insert="fragment/fr_footer.html :: #copy3"></div>

    <br>

    <h1>
        <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#difference-between-thinsert-and-threplace-and-thinclude">
            Difference between th:insert and th:replace (and th:include)
        </a>
    </h1>

    <h1>Using th:insert</h1>
    <div th:insert="fragment/fr_footer.html :: copy4"></div>

    <h1>Using th:replace</h1>
    <div th:replace="fragment/fr_footer.html :: copy4"></div>

    <h1>Using th:include</h1>
    <div th:include="fragment/fr_footer.html :: copy4"></div>

    <h1>Parameterizable fragment signatures using arguments </h1>
    <div th:replace="fragment/fr_footer.html::frag (${value1},${value2})">...</div>
    <div th:replace="fragment/fr_footer.html::frag (onevar=${value1},twovar=${value2})">...</div>
    <div th:replace="fragment/fr_footer.html::frag (twovar=${value2},onevar=${value1})">...</div>

    <h1>Fragment local variables without fragment arguments</h1>
    <div th:replace="fragment/fr_footer.html::fragnoargument (onevar=${value1},twovar=${value2})"></div>
    <div th:replace="fragment/fr_footer.html::fragnoargument" th:with="onevar=${value1},twovar=${value2}"></div>

    <h1>Assertion (exception if unfulfillment conditions)</h1>
    <div th:assert="${onevar},(${twovar} != 43)">...</div>

    <h1>Assertion in fragment (exception if unfulfillment conditions)</h1>
    <div th:replace="fragment/fr_footer.html::contentfooter (${title})">...</div>


</body>
</html>